# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*

# Editor directories and files
.vscode

# Compiled JavaScript files
dist/**/*.js
dist/**/*.js.map

# Node.js dependency directory
node_modules/